In [1]:
import pandas as pd
df = pd.read_csv('../submission/model_4_submission.csv', sep='\n')
df.head()

                                                name
0  KNIT MIDI DRESS WITH A V-PRINT, V-NECK KNIT DR...
1  HEARTIC SHIRT DRESS TRF, LACE MINI DRESS, DOTT...
2  FAUXCE BLANKET WITH A CONTRAST HERRINGBONE DES...
3  FAUX FUR CUSHION WITH SNOOPY PRINT.<BR/><|ENDO...
4  ACIDONA WITH SIDE BUTTON, PACK OF FOUR BASIC R...

In [11]:
df_sorted = pd.read_csv('../submission/model_4_submission_sorted.csv', sep='\n')
df_sorted.head()

                                                name
0  FROZEN EMBROIDERED KNIT DRESS, COMBINED MINI D...
1  HEARTIC SHIRT DRESS TRF, DRESS WITH SHOULDER P...
2  CAN DIFFERENTIATE FROM CAP, EXTRA SPORTS WITH ...
3  FACIDED NAUTICAL CAP, BASIC CAP WITH NEON DETA...
4  ACIDONA WITH SIDE BUTTON, COAT WITH SIDE BUTTO...

In [3]:
def select_first(row):
    # traverse the list till you find 10 valid candidates
    row_list = row.split(",")
    selected = []
    for r in row_list:
        # remove any answer containing <| characters
        if "<" not in r:
            selected.append(r)
        if len(selected) == 10:
            return ",".join(selected)

In [4]:
df['selected'] = df['name'].apply(select_first)
df.head()

,name,selected
0,"KNIT MIDI DRESS WITH A V-PRINT, V-NECK KNIT DR...","KNIT MIDI DRESS WITH A V-PRINT, V-NECK KNIT DR..."
1,"HEARTIC SHIRT DRESS TRF, LACE MINI DRESS, DOTT...","HEARTIC SHIRT DRESS TRF, LACE MINI DRESS, DOTT..."
2,FAUXCE BLANKET WITH A CONTRAST HERRINGBONE DES...,"CAN DIFFERENTIATE FROM CAP, LICAL CURB 05, CO..."
3,FAUX FUR CUSHION WITH SNOOPY PRINT.<BR/><|ENDO...,"PADDED CAP WITH PEARL BEADING TRF, ACIDED NAU..."
4,"ACIDONA WITH SIDE BUTTON, PACK OF FOUR BASIC R...","ACIDONA WITH SIDE BUTTON, THE 70S CAP, ANTIQUE..."

In [12]:
df_sorted['selected'] = df_sorted['name'].apply(select_first)
df_sorted.head()

,name,selected
0,"FROZEN EMBROIDERED KNIT DRESS, COMBINED MINI D...","FROZEN EMBROIDERED KNIT DRESS, COMBINED MINI D..."
1,"HEARTIC SHIRT DRESS TRF, DRESS WITH SHOULDER P...","HEARTIC SHIRT DRESS TRF, DRESS WITH SHOULDER P..."
2,"CAN DIFFERENTIATE FROM CAP, EXTRA SPORTS WITH ...","CAN DIFFERENTIATE FROM CAP, EXTRA SPORTS WITH ..."
3,"FACIDED NAUTICAL CAP, BASIC CAP WITH NEON DETA...","FACIDED NAUTICAL CAP, BASIC CAP WITH NEON DETA..."
4,"ACIDONA WITH SIDE BUTTON, COAT WITH SIDE BUTTO...","ACIDONA WITH SIDE BUTTON, COAT WITH SIDE BUTTO..."

In [5]:
df= df[['selected']]

In [13]:
df_sorted= df_sorted[['selected']]

In [7]:
df.rename(columns = {'selected':'name'}, inplace=True)

In [14]:
df_sorted.rename(columns = {'selected':'name'}, inplace=True)

In [8]:
df.head()

                                                name
0  KNIT MIDI DRESS WITH A V-PRINT, V-NECK KNIT DR...
1  HEARTIC SHIRT DRESS TRF, LACE MINI DRESS, DOTT...
2   CAN DIFFERENTIATE FROM CAP, LICAL CURB 05, CO...
3   PADDED CAP WITH PEARL BEADING TRF, ACIDED NAU...
4  ACIDONA WITH SIDE BUTTON, THE 70S CAP, ANTIQUE...

In [9]:
df['name'] = df['name'].str.lstrip(' ')

In [15]:
df_sorted['name'] = df_sorted['name'].str.lstrip(' ')

In [10]:
df.to_csv('../submission/model_4_submission_selected.csv', sep='\n',index=False)

In [16]:
df.to_csv('../submission/model_4_submission_sorted_selected.csv', sep='\n',index=False)