In [10]:
import pandas as pd
df = pd.read_csv('../submission/submission.csv', sep='\n')
df.head()

                                                name
0  KNIT DRESS, LACE DRESS, KNIT DRESS WITH LACE, ...
1  LOOSE-FITTING DRESS WITH DETAILS, OVERSHIRT WI...
2  NAUTICAL CAP, ITEM RETURNED, THIS ITEM MUST BE...
3  NAUTICAL CAP, NAUTICAL CAP WITH PEAK, KNOTTED ...
4  NAUTICAL CAP, THIS ITEM MUST BE RETURNED, SIDE...

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    10 non-null     object
dtypes: object(1)
memory usage: 208.0+ bytes

In [14]:
len(df['name'])

10

In [35]:
import sys  
sys.path.insert(0, 'C:\\Users\\ARosa\\Documents\\spain-ai-nlp')

from sorting_utils import *

In [60]:
def new_sorted_list(row):
    scores = []
    row_list = row.split(",")
    for r in row_list:
        # compute the score
        s = length_wc_scoring(r.strip())
        #print("answer{} and score{}".format(r,s))
        scores.append(s)
    df = pd.DataFrame()
    df['answer'] = row_list
    df['score'] = scores
    #print(df)
    df = df.sort_values(by='score', ascending=False)
    #print(df)
    return ",".join(df.answer)

In [55]:
new_sorted_list(df.iloc[0,0])

KNIT DRESS
answerKNIT DRESS and score0.2857142857142857
LACE DRESS
answer LACE DRESS and score0.2857142857142857
KNIT DRESS WITH LACE
answer KNIT DRESS WITH LACE and score1.0
MIDI LACE DRESS
answer MIDI LACE DRESS and score0.5555555555555556
STRAPPY KNIT DRESS WITH LACE
answer STRAPPY KNIT DRESS WITH LACE and score1.0
KNIT DRESS WITH LACE TRIM
answer KNIT DRESS WITH LACE TRIM and score1.0
KNIT DRESS WITH LACE DETAIL
answer KNIT DRESS WITH LACE DETAIL and score1.0
LACE KNIT DRESS TRF
answer LACE KNIT DRESS TRF and score1.0
DRESS WITH LACE TRF
answer DRESS WITH LACE TRF and score1.0
KNIT LACE DRESS TRF
answer KNIT LACE DRESS TRF and score1.0
                          answer     score
0                     KNIT DRESS  0.285714
1                     LACE DRESS  0.285714
2           KNIT DRESS WITH LACE  1.000000
3                MIDI LACE DRESS  0.555556
4   STRAPPY KNIT DRESS WITH LACE  1.000000
5      KNIT DRESS WITH LACE TRIM  1.000000
6    KNIT DRESS WITH LACE DETAIL  1.000000
7            LACE KNIT DRESS TRF  1.000000
8            DRESS WITH LACE TRF  1.000000
9            KNIT LACE DRESS TRF  1.000000
                          answer     score
2           KNIT DRESS WITH LACE  1.000000
4   STRAPPY KNIT DRESS WITH LACE  1.000000
5      KNIT DRESS WITH LACE TRIM  1.000000
6    KNIT DRESS WITH LACE DETAIL  1.000000
7            LACE KNIT DRESS TRF  1.000000
8            DRESS WITH LACE TRF  1.000000
9            KNIT LACE DRESS TRF  1.000000
3                MIDI LACE DRESS  0.555556
0                     KNIT DRESS  0.285714
1                     LACE DRESS  0.285714

2             KNIT DRESS WITH LACE
4     STRAPPY KNIT DRESS WITH LACE
5        KNIT DRESS WITH LACE TRIM
6      KNIT DRESS WITH LACE DETAIL
7              LACE KNIT DRESS TRF
8              DRESS WITH LACE TRF
9              KNIT LACE DRESS TRF
3                  MIDI LACE DRESS
0                       KNIT DRESS
1                       LACE DRESS
Name: answer, dtype: object

In [61]:
df['sorted'] = df['name'].apply(new_sorted_list)
df.head()

KNIT DRESS
LACE DRESS
KNIT DRESS WITH LACE
MIDI LACE DRESS
STRAPPY KNIT DRESS WITH LACE
KNIT DRESS WITH LACE TRIM
KNIT DRESS WITH LACE DETAIL
LACE KNIT DRESS TRF
DRESS WITH LACE TRF
KNIT LACE DRESS TRF
LOOSE-FITTING DRESS WITH DETAILS
OVERSHIRT WITH SHORTS HEIGHT OF MODEL: 177 CM / 69.6″
LOOSE-FITTING PENCIL DRESS
LOOSE-FITTING DRESS TRF
PRINTED DRESS
OVERSIZED DRESS
PLEATED DRESS
JACQUARD DRESS WITH PLEATS
LONG SLEEVE PLEATED DRESS
PRINT DRESS
NAUTICAL CAP
ITEM RETURNED
THIS ITEM MUST BE RETURNED
NAUTICAL CAP WITH PEAK
PACKAGING INTACT NAUTICAL CAP
• THE ORIGINAL PACKAGING INTACT NAUTICAL CAP
CARDBOARD PATCH CAP
MONOGRAMMERED NAUTICAL CAP
QUILTED NAUTICAL CAP
NAUTICAL OVAL CAP
NAUTICAL CAP
NAUTICAL CAP WITH PEAK
KNOTTED NAUTICAL CAP
RUBBERISED NAUTICAL CAP
SCALLOPED NAUTICAL CAP
NAUTICAL PEAK CAP
RIBBED NAUTICAL CAP
MAXI NAUTICAL CAP
NAUTICAL CAP WITH MICKEY & MINNIE ADJUSTABLE INNER STRAP
PAPERIE-STYLE NAUTICAL CAP
NAUTICAL CAP
THIS ITEM MUST BE RETURNED
SIDE BUTTON DETAIL NAUTICAL CAP
PACKAGING INTACT NAUTICAL CAP
PACKAGING PINAFORE NAUTICAL CAP
PLUSH NAUTICAL CAP
HOUNDSTOOTH NAUTICAL CAP
OVAL NAUTICAL CAP
BAMBI NAUTICAL CAP
CONTRAST NAUTICAL CAP
FADED SHORT SLEEVE T-SHIRT
FRONT PRINT T-SHIRT
LEMON T-SHIRT WITH FRONT PRINT
FADED-EFFECT T-SHIRT WITH FRONT PRINT
DYEED FRONT PRINT T-SHIRT
DYEED SHORT SLEEVE T-SHIRT
HEADBOARD T-SHIRT WITH PRINT
DOGGY T-SHIRT WITH PRINT
T-SHIRT WITH FRONT PRINT AND POCKET DETAIL
ANIMAL PRINT T-SHIRT
FAUX SUEDE COAT
FAUX SUEDE LONG COAT
COAT WITH FAUX SUEDE COLLAR
COAT
COAT WITH COLLAR
FAUX SUEDE HOODED COAT
LONG FAUX SAFFIANO COAT
ROUND NECK COAT
FAUX FUR COAT
LONG SHIRT COAT
PRINTED T-SHIRT ROUND NECK
RIPPED T-SHIRT
RIPPED HOODIE
DICTATOR ROUND NECK T-SHIRT
PYJAMA SET ROUND NECK TOP
KNIT SWEATER’ ROUND NECK T-SHIRT
TEXTURED T-SHIRT ROUND NECK TEXTURE
CORDUROY SHORTS ROUND NECK T-SHIRT
MEDIUM RIPPED T-SHIRT
MODEL HEIGHT T-SHIRT
FITTED POLYAMIDE TOP
FITTED TOP
POLYAMIDE FITTED TOP
WIDE STRAPS POLYAMIDE TOP
POLYAMIDE FITTED TOP TRF
FITTED TOP TRF
BASIC POLYAMIDE TOP
FITTED POPLIN TOP
FITTED KNIT TOP
POLYAMIDE BLEND TOP
FITTED POLYAMIDE TOP
POLYAMIDE FITTED TOP
TOP
FITTED POLYAMIDE TOP TRF
WIDE STRAPS TOP WITH HEIGHT 177 CM
EMBOSSED CHEST TOP
POLYAMIDE BLEND TOP
WIDE STRAP TOP
POLYAMIDE CHECK TOP
CHECK FITTED TOP

,name,sorted
0,"KNIT DRESS, LACE DRESS, KNIT DRESS WITH LACE, ...","KNIT DRESS WITH LACE, STRAPPY KNIT DRESS WITH..."
1,"LOOSE-FITTING DRESS WITH DETAILS, OVERSHIRT WI...","LOOSE-FITTING PENCIL DRESS, LOOSE-FITTING DRE..."
2,"NAUTICAL CAP, ITEM RETURNED, THIS ITEM MUST BE...","THIS ITEM MUST BE RETURNED, NAUTICAL CAP WITH..."
3,"NAUTICAL CAP, NAUTICAL CAP WITH PEAK, KNOTTED ...","NAUTICAL CAP WITH PEAK, KNOTTED NAUTICAL CAP,..."
4,"NAUTICAL CAP, THIS ITEM MUST BE RETURNED, SIDE...","THIS ITEM MUST BE RETURNED, PACKAGING INTACT ..."

In [62]:
df= df[['sorted']]

In [65]:
df.rename(columns = {'sorted':'name'}, inplace=True)

C:\Users\ARosa\Miniconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [66]:
df.head()

                                                name
0   KNIT DRESS WITH LACE, STRAPPY KNIT DRESS WITH...
1   LOOSE-FITTING PENCIL DRESS, LOOSE-FITTING DRE...
2   THIS ITEM MUST BE RETURNED, NAUTICAL CAP WITH...
3   NAUTICAL CAP WITH PEAK, KNOTTED NAUTICAL CAP,...
4   THIS ITEM MUST BE RETURNED, PACKAGING INTACT ...

In [67]:
df.to_csv('../submission/submission_sorted.csv', sep='\n')